body {
  text-align: center;
  margin: 0;
}

#map {
  margin: 0px auto;
}

li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding: 15px 15px;
  text-align: right;
  font-size: 20px;
}
ul {
  width: 100%;
  padding: 0;
  border-bottom: 2px solid grey;
  margin: 0px
}

li a {
  text-decoration: none;
  color: black;
}
