body {
  text-align: center;
  margin: 0;
}

#map {
  margin: 0px auto;
}

li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  text-align: right;
}
ul {
  width: 100%;
  padding: 0;
  background-color: grey;
  margin: 0px
}
