<!DOCTYPE html>
<html ng-app="roadtripApp">

<head>
  <meta charset="utf-8">

  <title>USA Road Trip Summer 2016</title>

  <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/locationController.js"></script>

  <!-- Stylesheets-->
  <link rel="stylesheet" type='text/css' href="stylesheet/main.css">
</head>
<body>

  <div ng-controller="LocationController as ctrl">
    <h1>{{ctrl.working}}</h1>
  <form name="locationForm" ng-submit="ctrl.sendToDB(location)">
    <input type="text" placeholder="city" ng-model='location.city'>
    <input type="text" placeholder="desc" ng-model='location.desc'>
    <input type="text" placeholder="lat" ng-model='location.lat'>
    <input type="text" placeholder="long" ng-model='location.long'>
    <input type="text" placeholder="start YYYY-MM-DD" ng-model='location.startDate'>
    <input type="text" placeholder="finish" ng-model='location.finishDate'>
    <button>Submit</button>
  </form>
</div>
</body>
</html>
